body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.top-menu > a {
    box-sizing: border-box;
    color: black;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}
.top-menu > a.active-blue {
    border-bottom: 2px solid #4285F4;
}
.top-menu > a.active-green {
    border-bottom: 2px solid #0F9D58;
}
.top-menu > a.active-yellow {
    border-bottom: 2px solid #F4B400;
}
.top-menu > a.active-red {
    border-bottom: 2px solid #DB4437;
}
.top-menu > a.active-purple {
    border-bottom: 2px solid #B84BE1;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
th {
    padding:0px 10px;
}
select,
input:not([type="checkbox"]) {
    height:34px;
    border: 1px solid rgba(0, 0, 0, .25);
    margin:2px 6px;
    cursor:pointer;
    border-radius: .25rem;
}
input[type="text"] {
    padding:0px 10px;
}
.toggle {
    margin: 2px 6px;
    width: 50px!important;
    height:30px!important;
}